JWT_SECRET=toolyvans_super_secret_jwt_key_2024_change_in_production
PAYSTACK_SECRET_KEY=sk_live_YOUR_SECRET_KEY_HERE
PAYSTACK_PUBLIC_KEY=pk_live_69fcc7c11f24d782bb103fddf833dee1daa85e9d
NODE_ENV=production
